:host {
  display: flex;
  flex-direction: column;
  width: 968px;
  margin: 0 auto;
}

.mat-column-icon {
  height: 57px;
  width: 75px;

  img {
    width: 50px;
  }
}

.mat-column-name {
  width: 30%;
}

.mat-column-value {
  width: 100px;
}
