:host {
  padding: 20px;
  display: block;
  height: calc(100vh - 40px);
  overflow-y: auto;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title, .subtitle {
  text-align: center;
}

.title {
  color: #202020; // darker
  text-shadow: 0 1px 1px #424242; // lighter
  font-family: 'Teko', 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: .1em;
  word-spacing: .2em;
  margin-top: 16px;
}

.subtitle {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  letter-spacing: .1em;
}

.item {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  width: 280px;

  &,
  &:active,
  &:focus,
  &:link,
  &:hover {
    text-decoration: none;
  }
}

.item-card {
  border: 1px solid hsla(0,0%,100%,.12); // TODO theming
  background-color: #424242;

  border-radius: 4px;
  overflow: hidden;

  &:hover {
    background-color: rgba(0,0,0,.2);
  }
}

.item-card-img-wrapper {
  &,
  img {
    height: 156px;
  }
  border-bottom: 1px solid hsla(0,0%,100%,.12);
 background: linear-gradient(to right,rgba(3,169,244,0.30),rgba(3,169,244,0.10)) padding-box;
  text-align: center;
}

.item-card-title {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  color: #FFF;
  text-align: center;
}
