:host {
  padding: 20px;
  display: block;
  height: calc(100vh - 40px);
  overflow-y: auto;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 980px;
  margin: 0 auto 8px;

  a {
    color: #03a9f4;
    text-decoration: none;
  }
}

.title, .subtitle {
  text-align: center;
}

.title {
  color: #202020; // darker
  text-shadow: 0 1px 1px #424242; // lighter
  font-family: 'Teko', 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: .1em;
  word-spacing: .2em;
  margin-top: 16px;
}

.subtitle {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  letter-spacing: .1em;
}
